<div>
    <form>
        <input id="ingredient" type="text">
        <label for="ingredient">Ingredient</label>
        <button type="submit" class="form-submit">Submit</button>
    </form>
    <div class='recipes'>Recipes:
    </div>

    <script src="/js/apiCall.js"></script>
    <script src="/js/addAPI.js"></script>
</div>