<div class="row">
    <div class="input-field col s6">
        <span class="card-title">Select a letter to sort recipes.</span>
        <form>
            <select id="ingredient">
                <option value="" disabled selected>Choose a letter</option>
                <option value="a">a</option>
                <option value="b">b</option>
                <option value="c">c</option>
                <option value="d">d</option>
                <option value="e">e</option>
                <option value="f">f</option>
                <option value="g">g</option>
                <option value="h">h</option>
                <option value="i">i</option>
                <option value="j">j</option>
                <option value="k">k</option>
                <option value="l">l</option>
                <option value="m">m</option>
                <option value="n">n</option>
                <option value="o">o</option>
                <option value="p">p</option>
                <option value="r">r</option>
                <option value="s">s</option>
                <option value="t">t</option>
                <option value="v">v</option>
                <option value="w">w</option>
                <option value="y">y</option>
            </select>

            <button type="submit" class="form-submit waves-effect waves-light btn">Submit</button>
        </form>
    </div>

    <div class="col s6">
        <div class='recipes card-title'>Recipes:</div>
        <ul class="collapsible">
        </ul>

    </div>


    <script src="/js/apiCall.js"></script>
</div>