<div>
    <form>
        <input id="recipe" type="text"></input>
        <label for="recipe">Search for a recipe based on an ingredient</label>
        <button type="submit" class="form-submit">Submit</button>
    </form>
    <script src="/js/search.js"></script>
</div>